*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  color:#ffff;
  background:#FF7551;
}
::-moz-selection {
  color: #ffff;
  background: #FF7551;
}